
.patient td{
    border: 1px solid #e3e3e3;
    padding: 4px 8px;
}
.patient td button{
    background-color: white;
    padding: 5px;
    border: 1px solid #e3e3e3;
    /* border: 0px; */
}
.patient div{
    margin: 0px auto;
}
.patient td button:hover{
    cursor: pointer;
}
.negative{
    color: red;
}
.positive{
    color: green;
}